<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Katalog restoran Kulinary, Kuliner Nyentrik, website khusus pecinta kuliner nusantara.">
  <title>Kulinary | Kuliner Nyentrik</title>

  <!-- Web Icon -->
  <link rel="icon" href="./images/icons/kulinary-icon.png">

  <!-- Web Manifest -->
  <link rel="manifest" href="app.webmanifest">
  <link rel="icon" type="image/png" sizes="192x192"  href="./images/webmanifest/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/webmanifest/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./images/webmanifest/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./images/webmanifest/favicon-16x16.png">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
  <!-- Header mulai -->
  <header>
    <!-- Skip to Content -->
    <a href="" title="Skip to Content" class="skip-to-content">Skip to Content</a>

    <div class="header">
      <a class="logo-icon" title="Logo Kulinary" href="#">
        <img src="./images/icons/kulinary-icon.png" alt="Icon Kulinary">
        <h1>Kulinary</h1>
      </a>
    </div>
    
    <!-- Tombol toggle sidebar -->
    <button title="Tombol Buka Sidebar" class="sidebar-button" id="drawer-button">
      <!-- Open icon -->
      <svg class="isOpen menu-button" xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 -960 960 960" width="44px" fill="#10375C"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>

      <!-- Close icon -->
      <svg class="isOpen close" xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 -960 960 960" width="44px" fill="#10375C"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    </button>

    <!-- Sidebar untuk mobile -->
    <nav class="mobile-sidebar">
      <div id="nav-list" class="sidebar-mobile">
        <a class="logo-icon" title="Logo Kulinary" href="#">
          <img src="./images/icons/kulinary-icon.png" alt="Icon Kulinary">
          <h2>Kulinary</h2>
        </a>

        <!-- Pilihan Menu -->
        <ul>
          <li><a title="Menuju ke Home" href="/#">Home</a></li>
          <li><a title="Menuju ke Favorite" href="#/favorite">Favorite </a></li>
          <li><a title="Menuju ke About Us" href="https://ifwhy.github.io/" target="_blank" rel="noreferrer">About Us</a></li>
        </ul>

        <!-- Deskripsi -->
        <div class="deskripsi">
          <p>
            <b>Kulinary</b> adalah platform katalog restoran yang memudahkan pencinta kuliner menemukan tempat makan terbaik. Temukan petualangan rasa yang tak terlupakan bersama Kulinary!
          </p>
        </div>

        <!-- Follow us -->
        <div class="follow-us">
          <p id="follow-us">Follow Us</p>

          <div class="social-media">
            <a title="Kunjungi Facebook Kami" href="https://web.facebook.com/ivan.w.nugroho.73" target="_blank">
              <img src="./images/icons/facebook-icon.png" alt="Icon Facebook">

              <p>Ivan Wahyu Nugroho</p>
            </a>

            <a title="Kunjungi Instagram Kami" href="https://www.instagram.com/ifwhy._" target="_blank">
              <img src="./images/icons/instagram-icon.png" alt="Icon Instagram">

              <p>ifwhy._</p>
            </a>

            <a title="Kunjungi X kami" href="https://x.com" target="_blank">
              <img src="./images/icons/x-icon.png" alt="Icon X">

              <p>ifwhy._</p>
            </a>
          </div>
        </div>

        <!-- Copyright -->
        <div class="footer-sidebar">
          <p>&copy; 2024 Kulinary. <br> All rights reserved.</p>
        </div>
  
        </div>
      </div>
    </nav>

    <!-- Navbar untuk tablet ke atas -->
    <nav id="navbar-big">
      <!-- Pilihan Menu -->
      <ul>
        <li class="active-nav"><a title="Menuju ke Home" href="/#">Home</a></li>
        <li><a title="Menuju ke Favorite" href="#/favorite">Favorite </a></li>
        <li><a title="Menuju ke About Us" href="https://ifwhy.github.io/" target="_blank" rel="noreferrer">About Us</a></li>
      </ul>
    </nav>

  </header>
  <!-- Header selesai -->

  <main id="main-content" tabindex="-1">
    
  </main>

  <footer>
      <div class="logo-footer">
        <img src="./images/icons/kulinary-icon.png" alt="Icon Kulinary">
        <p>Kulinary</p>
      </div>

      <p id="copy-right">&copy; 2024 Kulinary.  All rights reserved.</p>
  </footer>

</body>
</html>